@page
@model SeeDoctorsModel
@using Microsoft.AspNetCore.Authorization
@{
    ViewData["Title"] = "Doctors List";
}

<div class="container mt-4">
    <h2 class="mb-4">Doctors List</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Actions</th> <!-- Colonne pour les actions -->
        </tr>
        </thead>
        <tbody>
        @foreach (var doctor in Model.Doctors)
        {
            <tr>
                <td>@doctor.FirstName</td>
                <td>@doctor.LastName</td>
                <td>@doctor.Email</td>
                <td>
                    <!-- Bouton Delete -->
                    <form method="post" asp-page-handler="Delete" asp-route-id="@doctor.Id" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>

                    <!-- Bouton Edit -->
                    <a asp-page="/Admin/EditDoctor" asp-route-id="@doctor.Id" class="btn btn-primary btn-sm">Edit</a>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
